 <style>
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  body {
    background: rgb(250, 178, 55);
  }
  .wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .row {
    width: auto;
  }
  .button {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
    color: #000;
  }
</style>

<div class="wrapper">
  <div class="row"> 
    <div class="flex-item">
      <h1>BULK DELETER</h1>
    </div>
    <div class="flex-item">
      <strong>
        - Connect your QuickBooks account <br/>
        - Select which entity you want to delete, select data <br/>
        - Choose data you want to delete
        - Click on Delete button. <br/>
      </strong>
    </div>
    <div class="flex-item">
      <a href="/oauth2" class="button">Connect with QuickBooks</a>
    </div>
  </div>
</div>